<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>One Push</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
</head>
<body data-ng-app="OnePush"  class="container-fluid" >

	<header class="col-md-12">
		<h1>OnePush</h1>
		<p> finding the best online portfolio!</p>
	</header>
	<nav></nav>

	<main class="col-md-12">

	<section id="searchSection"
		ng-controller="SearchController as searchCntrl" class="col-md-8">

		<input class="col-md-12" type="search"
			placeholder="Search by title, url, tag" > <span
			ng-bind="searchCntrl.websiteListStr"></span>
		<div class="col-md-12" ng-repeat="website in searchCntrl.websiteList">

			<img class="col-md-1" ng-alt="{{website.favicon_image}}"
				ng-src="{{website.favicon_image}}"></img>

			<div class="col-md-9">
				<span ng-bind="website.title">
			</div>
			<div class="col-md-9">
				<span ng-bind="website.tag"></span> <span> | </span> <a
					ng-href="{{website.url_address}}" target="_blank">{{website.url_address}}</a>
			</div>
		</div>
	</section>


	<section id="pushSection" ng-controller="PushController as pushCntrl"
		class="col-md-4">
		<h2 class="col-md-12">Add Website :</h2>
		<input class="col-md-12" type="text" placeholder="title"
			ng-model="pushCntrl.title"> <input class="col-md-12"
			type="text" placeholder="web address" ng-model="pushCntrl.url">
		<input class="col-md-4" type="text" placeholder="tag"
			ng-model="pushCntrl.tag">
		<button class="col-md-6 col-md-offset-2" type="button"
			ng-click="pushCntrl.pushWebsite()"
			ng-disabled="pushCntrl.pushButtonDisabled">Push Website</button>
			
			
		<span ng-show="pushCntrl.pushMessage">{{pushCntrl.pushMessage}}</span>
	</section>

	</main>

	<footer class="col-md-12" > </footer>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript" src="js/onepush/onePushApp.js"></script>
	<script type="text/javascript"
		src="js/onepush/controller/searchController.js"></script>
	<script type="text/javascript"
		src="js/onepush/controller/pushController.js"></script>


</body>
</html>