<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>One Push</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">


<!-- Optional theme -->
<link rel="stylesheet"
	href="css/framework/fontawesome/font-awesome.min.css">


<link rel="stylesheet" href="css/onepush.css">


</head>
<body data-ng-app="OnePush">



	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">OnePush</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="form">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>


	<div class="jumbotron">
		<div class="container">
			<h1>OnePush</h1>
			<p>Best place to find interesting websites, with over 2,000+
				websites</p>
		</div>
	</div>




	<main class="container">

	<section id="searchSection" class="col-xs-12 col-md-8"
		ng-controller="SearchController as searchCntrl">

		<div class="form-group col-xs-9 col-md-10">
			
			<input type="search" name="searchText"
				ng-model="searchCntrl.searchText" class="form-control"
				placeholder="Search By Title, URL or Tag">
		</div>
		<div class="form-group col-xs-3 col-md-2">
			<select name="searchOn" ng-model="searchCntrl.searchOn"
				class="form-control">
				<option selected="selected" value="any">Any</option>
				<option value="title">Title</option>
				<option value="url">Url</option>
				<option value="tag">Tag</option>
			</select>
		</div>




		<div ng-hide="searchCntrl.searchCompleted" class="text-center">
			<i class="fa fa-spinner"></i>
		</div>

		<!-- <div ng-show="searchCntrl.websiteList" class="col-md-12 ">

			<div class="text-right">
				<button class="btn btn-primary " type="button"
					ng-click="searchCntrl.pushWebsite()">
					Next <i class="fa fa-forward"></i>
				</button>
			</div>

		</div> -->
		<ul ng-show="searchCntrl.websiteList" class="list-group">
			<li class="col-xs-12 col-md-12 list-group-item"
				ng-repeat="website in searchCntrl.websiteList | filter:searchCntrl.searchText">

				<img class="col-xs-4 col-sm-2 col-md-1"
				ng-alt="{{website.favicon_image}}"
				ng-src="{{website.favicon_image}}"></img>

				<div class="col-xs-8 col-sm-10 col-md-11">
					<div>
						<span ng-bind="website.title"> </span>
					</div>
					<div>
						<div>
							<i class="fa fa-tag"></i>&nbsp;<span ng-bind="website.tag"></span>
						</div>
						<div>
							<i class="fa fa-link"></i>&nbsp;<a
								ng-href="{{website.url_address}}" target="_blank">{{website.url_address}}</a>
						</div>
					</div>
			</li>
		</ul>

		<!-- <div class="col-md-12 text-right">
			<button class="btn btn-primary" type="button"
				ng-click="searchCntrl.pushWebsite()">
				Next <i class="fa fa-forward"></i>
			</button> 

		</div>-->
	</section>


	<section id="pushSection" ng-controller="PushController as pushCntrl"
		class="col-xs-12 col-md-4">
		<h2 class="col-xs-12 col-md-12">Add Your Website :</h2>

		<form action="#">
			<div class="form-group col-md-12">
				<input class="form-control" type="text" placeholder="Website Title"
					ng-model="pushCntrl.title">
			</div>

			<div class="form-group col-md-12">
				<input class="form-control" type="text" placeholder="Website URL"
					ng-model="pushCntrl.url">
			</div>

			<div class="form-group col-md-8">
				<input class="form-control" type="text" placeholder="Tag"
					ng-model="pushCntrl.tag">
			</div>

			<div class="col-md-4 text-right">
				<button class="btn btn-primary" type="submit"
					ng-click="pushCntrl.pushWebsite()"
					ng-disabled="pushCntrl.pushButtonDisabled">Add Website</button>

			</div>
			<div class="col-md-12 alert alert-danger ng-cloak"
				ng-show="pushCntrl.pushMessage" ng-bind="pushCntrl.pushMessage"></div>

		</form>
	</section>

	</main>

	<footer class="col-md-12">
		<p>&copy; OnePush 2016</p>
	</footer>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript" src="js/onepush/onePushApp.js"></script>
	<script type="text/javascript"
		src="js/onepush/controller/searchController.js"></script>
	<script type="text/javascript"
		src="js/onepush/controller/pushController.js"></script>
</body>
</html>